<form action="/create-new-item" class="input-form js-input-form bg-<%-theme%> " method="POST">
    <input type="text" placeholder="Create a new todo..." name="newItem" class="js-input input-text-<%-theme%>" required autofocus>
    <button type="submit" class="input-submit">ADD</button>
</form>