* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}
body {
    @include flex_centered(column);
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 100vh;
    background-image: url("../images/bg-mobile-dark.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: $very_dark_blue;
    @include responsive($tablet_large){
        background-image: url("../images/bg-desktop-dark.jpg");
    }
}


