<%- include("partials/header", {theme: "dark"}) %> 

<header>
    <h1>TODO</h1>
    <form action="/dark-theme" method="POST" class="dark-form" style="display: none;">
        <button type="submit">
            <img class="icon-moon js-icon-moon" src="/images/icon-moon.svg" alt="half moon">
        </button>
    </form>
    <form action="/light-theme" method="POST" class="light-form">
        <button type="submit">
            <img class="icon-sun js-icon-sun" src="/images/icon-sun.svg" alt="sun">
        </button>
    </form>
</header>
<main>
    <%- include("partials/input-form", {theme: "dark"}) %> 

    <div class="todo-list todo-list-dark">

        <% items.forEach(item => { %>

            <%- include("partials/list-item", 
            {content: item.content, 
            itemId: item.id, 
            theme: "dark", 
            status: item.status}) 
            %> 
            
        <% }); %>


    

    </div>
    <div class="todo-list__footer bg-dark">
        <span class="js-pending">1 item left</span>
        <div class="todo-list__footer-filter">
            <span class="all filter-active">All</span>
            <span class="active">Active</span>
            <span class="item-completed">Completed</span>
        </div>
        <form action="/clear-completed" method="POST" class="clear-completed">

            <button class="completed-submit-btn" type="submit">Clear completed</button>
        </form>
    </div>

    <div class="filter bg-dark">
        <span class="all filter-active">All</span>
        <span class="active">Active</span>
        <span class="item-completed">Completed</span>
    </div>


    <p class="bottom-text">Drag and drop to reorder list</p>

</main>

<%- include("partials/footer") %> 